 /* Avatar */
 .pull-right ul{
	color: azure;
	float: right!important;
	/* margin: 0.6em 1.0em 0 1.0em;  */
	/* display: flex; */
 }
 .pull-right ul > li{
	/* margin-left: 1.0em ; */
	position:relative;
	float:left;
	padding:.25em 1em;
	margin: 0.25em 0em;
	
 }
 .lang{
	
 }
 
 .uppercase{
	text-transform:uppercase;
 }

/* small screens */
@media screen and (max-width: 44em) {
	.root{
		/* font-size: 12px; */
	}

	nav[role="pull-right"] ul {
	  padding: 0 0.5em;
	}
	nav[role="pull-right"] ul > li {
	  width: 100%;
	  padding: 0.45em 0.25em;
	  margin: 0 0 0.55em 0;
	 
	}
	nav[role="pull-right"] ul > li:after {
	  box-shadow: none;
	}
  }
