/* Primary Styles */
*, *::before, *::after {
	box-sizing: border-box;
 }
 
 body {
	/* font-family: sans-serif;
	font-size: 1em;
	color: #333;
	margin-left: 1em;
	margin-right: 1em;
	background-color: #efefef; */
 }
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
	font-style: normal;
 }
 
 a {
	text-decoration: none;
	color: inherit;
 } 
 
 /* Layout */
 .s-layout {
	display: flex;
	width: 100%;
	min-height: 100vh;



	font-family: sans-serif;
	font-size: 1em;
	color: #333;
	margin-left: 1em;
	margin-right: 1em;
	background-color: #efefef;
 }

  /* Avater */

 
 .s-layout__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
	background: #192b3c;

	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
 }

 
 .s-sidebar__trigger > i {
	display: inline-block;
	margin: 1.0em 0 0 1.0em;
	color: #f07ab0;
 }
 
 .s-sidebar__nav {
	position: fixed;
	top: 0;
	left: -15em;
	overflow: hidden;
	transition: all .3s ease-in;
	width: 15em;
	height: 100%;
	background: #243e56;
	color: rgba(255, 255, 255, 0.7);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: "left .1s ease-out, right .1s ease-out";
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
	font-size: 0.8em;
	z-index: 3
 }
 #style-4::-webkit-scrollbar-track
 {
	 /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	 background-color: #243e56;
	 /* padding-right: 12px; */
	 /* #243e56 */
	 /* opacity: 1; */
 }
 
 #style-4::-webkit-scrollbar
 {
	 width: 5px;
	 background-color: #F5F5F5;
	 
	 
 }

 #style-4::-webkit-scrollbar-thumb
{
	background-color: #aaa;
	
	/* border: 2px solid #555555; */
	
}


.s-sidebar__nav-avartar{
	color: aliceblue;
	display: block;
    width: 195px;
    height: 70px;
    /* margin: 0 auto; */
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    /* font-style: italic; */
    /* text-align: center; */
    text-decoration: none !important;
    /* line-height: 62px; */
    color: rgba(255, 255, 255, 0.7);
    /* background: #003b69; */
	/* border-radius: 100%; */
	text-transform: uppercase;
	font-weight: bold;
}
.s-sidebar__nav-user{
	color: aliceblue;

	display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    font-size: 1.0rem;
    font-weight: 300;
    /* font-style: italic; */
    text-align: center;
    text-decoration: none !important;
    line-height: 62px;
    color: #7a9ab6;
}

 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
	left: 0;
 }
 
 .s-sidebar__nav ul {
	/* position: absolute; */
	top: 4em;
	left: 0;
	margin: 0;
	padding: 0;
	width: 15em;
 }
 
 .s-sidebar__nav ul li {
	width: 100%;
 }
 
 .s-sidebar__nav-link {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 4em;
 }

 
 .s-sidebar__nav-link em {
	position: absolute;
	top: 50%;
	left: 4em;
	transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
	background: #4d6276;
 }
 
 .s-sidebar__nav-link > i {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 4em;
	height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }


 .s-sidebar__nav-linksub {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 4em;
	
 }
 .li{
	background-color: #192b3c;
 }

  
 .s-sidebar__nav-linksub em {
	position: absolute;
	top: 50%;
	left: 4em;
	transform: translateY(-50%);
 }
 
 .s-sidebar__nav-linksub:hover {
	background: #4d6276;
 }
 
 .s-sidebar__nav-linksub > i {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 4em;
	height: 4em;
 }
 
 .s-sidebar__nav-linksub > i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }
 


/* Mobile First */
@media (min-width: 42em) {
	.s-layout__content {
	   /* margin-left: 4em; */
	   margin-left: 3.5em;
	   word-wrap: break-word;
	}
	
	.s-sidebar__trigger {
	   /* width: 4em; */
	}
	
	.s-sidebar__nav {
	   width: 4em;
	   left: 0;
	}
	
	.s-sidebar__nav:hover,
	.s-sidebar__nav:focus,
	.s-sidebar__trigger:hover + .s-sidebar__nav,
	.s-sidebar__trigger:focus + .s-sidebar__nav {
	   width: 13em;
	}
 }
 
 @media (min-width: 68em) {
	.s-layout__content {
	   /* margin-left: 15em; */
	   margin-left: 10.5em;
	   word-wrap: break-word;
	   margin-top: 8em;
		
	}
	
	.s-sidebar__trigger {
	   /* display: none */
	}
	
	.s-sidebar__nav {
	   width: 13em;
	}
	
	.s-sidebar__nav ul {
	   top: 1.3em;
	}
 }

 /* Avatar */
 .pull-right{
	color: azure;
	float: right!important;
	margin: 0.6em 1.0em 0 1.0em;
 }
 .pull-right > li{
	margin-left: 1.0em ;
 }
 .rad-dropdown {
	display: inline-block;
 }
 .no-color{

 }
 img{
	vertical-align: middle;
 }
 .rad-list-img {
	border-radius: 100%;
    width: 32px;
    height: 32px;
 }
 .sm-img{
	height: 30px !important;
    width: 30px !important;
 }
.s-sidebar__nav-avartar-csvc{
	width: 7em;
	height: 4em;
	float: left;
	text-align: center;
	margin-top: 12px;
	margin-left: 6px;
	font-size: 0.9em;
}
.s-sidebar__nav-avartar-image{
	float: left;
	width: 3em;
	height:3em;
}
.bell{
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
}
.lang{
	margin-right: 40px;
	margin-top: -13px;
}
